table {
  width: 100%;
}

.menu-icon-solution .wp-menu-image:before,
.menu-icon-industry .wp-menu-image:before,
.menu-icon-partner_logo .wp-menu-image:before,
.menu-icon-news .wp-menu-image:before,
.menu-icon-faq .wp-menu-image:before {
  content: "a";
  font-family: "d2" !important;
  font-size: 20px !important;
}

.menu-icon-webinar .wp-menu-image:before {
  content: "c";
  font-family: "d2" !important;
  font-size: 20px !important;
}

.menu-icon-instructor .wp-menu-image:before {
  content: "d";
  font-family: "d2" !important;
  font-size: 20px !important;
}

.dashicon-digi {
  color: darkorange !important;
}

.so-panels-dialog-prebuilt-layouts .so-sidebar-tabs li:first-child {
  display: none;
}
.so-panels-dialog-prebuilt-layouts .so-enable-prebuilt {
  display: none;
}

.column-notification_1,
.column-notification_2,
.column-notification_3 {
  width: 60px;
}

/*# sourceMappingURL=editor-style.css.map */
