@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/subset-FiraSans-Thin.woff2") format("woff2"), url("../fonts/subset-FiraSans-Thin.woff") format("woff"), url("../fonts/subset-FiraSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/subset-FiraSans-ExtraLight.woff2") format("woff2"), url("../fonts/subset-FiraSans-ExtraLight.woff") format("woff"), url("../fonts/subset-FiraSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/subset-FiraSans-Light.woff2") format("woff2"), url("../fonts/subset-FiraSans-Light.woff") format("woff"), url("../fonts/subset-FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/subset-FiraSans-Regular.woff2") format("woff2"), url("../fonts/subset-FiraSans-Regular.woff") format("woff"), url("../fonts/subset-FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/subset-FiraSans-Medium.woff2") format("woff2"), url("../fonts/subset-FiraSans-Medium.woff") format("woff"), url("../fonts/subset-FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/subset-FiraSans-SemiBold.woff2") format("woff2"), url("../fonts/subset-FiraSans-SemiBold.woff") format("woff"), url("../fonts/subset-FiraSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/subset-FiraSans-Bold.woff2") format("woff2"), url("../fonts/subset-FiraSans-Bold.woff") format("woff"), url("../fonts/subset-FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/subset-FiraSans-ExtraBold.woff2") format("woff2"), url("../fonts/subset-FiraSans-ExtraBold.woff") format("woff"), url("../fonts/subset-FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}
h1 b, h1 strong, h2 b, h2 strong, h3 b, h3 strong, h4 b, h4 strong, h5 b, h5 strong, h6 b, h6 strong {
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  margin: 0rem 0 3rem 0;
  border-bottom: 5px solid #d24d57;
}

h2 {
  margin: 3rem 0 2rem 0;
}

h3 {
  margin: 1.5rem 0;
}

.inverse {
  color: #98a2aa;
}
.inverse a,
.inverse a:hover,
.inverse a:active,
.inverse a:visited {
  color: #fff;
}

html,
body {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-area {
  margin-top: 3rem;
  flex-grow: 1;
}

.content img {
  max-width: 100%;
  height: auto;
}

div.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body.admin-bar .navbar.fixed-top {
  position: absolute;
  top: 46px;
}
@media (min-width: 601px) and (max-width: 783px) {
  body.admin-bar .navbar.fixed-top {
    position: fixed;
    top: 46px;
  }
}
@media (min-width: 784px) {
  body.admin-bar .navbar.fixed-top {
    position: fixed;
    top: 32px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1280px;
  }
}

.sticky-top {
  top: 6rem;
}

.bg-brand-primary-tilted-bottom {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 4rem;
}
.bg-brand-primary-tilted-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  transform: rotate(-5deg);
  top: -100px;
  left: -100px;
  bottom: 30px;
  right: -50px;
}

.btn {
  border-radius: 0 !important;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-brand {
  color: #fff;
  background-color: #d24d57;
  border-color: #d24d57;
}
.btn-brand:hover, .btn-brand:active {
  color: #fff;
  background-color: #bc303a;
  border-color: #bc303a;
}

.bg-brand-primary {
  background-color: #d24d57;
}

.page-footer {
  padding-top: 4rem;
  background-color: #232733;
}
.page-footer .footer-items {
  margin-bottom: 4rem;
}

.copyright {
  font-size: 70%;
  text-align: right;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 0;
}

.meta-category a {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.125rem 0.25rem;
  display: inline-block;
}

.navbar-brand img {
  max-height: 20px;
}

.search-form {
  display: flex;
}
.search-form label {
  margin: 0;
  padding: 0;
}
.search-form label span {
  display: none;
}
.search-form .search-field {
  border: 0;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.25);
  font-size: 85%;
  padding: 0.625rem 1rem;
  color: #fff;
  line-height: 1;
}
.search-form .search-field::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search-form .search-submit {
  background: none;
  border: none;
  color: #fff;
}
.search-form .search-form-clear {
  display: none;
}

.widget-title {
  text-transform: uppercase;
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}

aside .widget:first-of-type .widget-title {
  margin-top: 0;
}
aside .widget ul {
  margin-left: 0;
  padding-left: 0;
}
aside .widget ul li {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.5rem 0;
}
aside .widget .post-date {
  color: #6c757d;
}
aside .widget .post-date:before {
  content: "(";
}
aside .widget .post-date:after {
  content: ")";
}

.wpcf7-form label {
  display: block;
}

.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form input[type=tel] {
  width: 100%;
  height: 40px;
  border: 1px solid #dfe2e7;
  background: #fff;
  padding: 0px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 42px;
}

.wpcf7-form textarea {
  height: 120px;
}

.wpcf7-recaptcha > div {
  margin: auto;
}

.wpcf7-not-valid-tip {
  color: #C0392B;
  padding: 0 10px;
}

div.wpcf7-response-output {
  margin: 10px 0;
  padding: 0;
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
  display: block;
  padding: 15px;
  border: none;
  border-left: 5px solid;
}

div.wpcf7-validation-errors {
  background-color: #F2D7D5;
  border-left-color: #C0392B;
  color: #C0392B;
}

div.wpcf7-mail-sent-ok {
  background-color: #D5F5E3;
  border-left-color: #2ECC71;
  color: #2ECC71;
}

.wpcf7-acceptance,
.wpcf7-checkbox {
  border: none !important;
  box-shadow: none !important;
  padding-left: 0;
  background: none;
}
.wpcf7-acceptance label,
.wpcf7-checkbox label {
  font-weight: normal;
}

span.wpcf7-list-item {
  margin-left: 0;
}

.grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
