table {
    width: 100%;
}

.menu-icon-solution .wp-menu-image:before,
.menu-icon-industry .wp-menu-image:before,
.menu-icon-partner_logo .wp-menu-image:before,
.menu-icon-news .wp-menu-image:before, 
.menu-icon-faq .wp-menu-image:before {
    content: "\61";
    font-family: 'd2' !important;
    font-size: 20px !important;
}

.menu-icon-webinar .wp-menu-image:before {
    content: "\63";
    font-family: 'd2' !important;
    font-size: 20px !important;
}

.menu-icon-instructor .wp-menu-image:before {
    content: "\64";
    font-family: 'd2' !important;
    font-size: 20px !important;
}


.dashicon-digi {
    color: darkorange !important;
}

.so-panels-dialog-prebuilt-layouts {
    .so-sidebar-tabs {
        li:first-child {
            display: none;
        }
    }
    
    .so-enable-prebuilt {
        display: none;
    }
}

.column-notification_1, 
.column-notification_2, 
.column-notification_3 {
    width: 60px; 
} 