@media print {
    body {
        font-size: 0.75rem;
        background: none;
    }

    a {
        page-break-inside:avoid
    }
    blockquote {
        page-break-inside: avoid;
    }
    h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
                             page-break-inside:avoid }
    img { page-break-inside:avoid; 
          page-break-after:avoid; }
    td, th, pre { page-break-inside:avoid }
    ul, ol, dl  { page-break-before:avoid }

}
