@mixin cc-hero-arrow($align) {
    content: "";
    position: absolute;

    left: 50%;
    width: 0; 
    height: 0; 

    @if $align == 'top' {
        top: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 18px solid;
        margin-top: -18px;
        margin-left: -15px;
    }

    @if $align == 'bottom' {
        bottom: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 18px solid;
        margin-bottom: -18px;
        margin-left: -15px;
    }
}

@mixin cc-hero-overlay($theme) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @if $theme == 'light' {
        background: rgba(255,255,255,0.2);

    }

    @if $theme == 'dark' {
        background: rgba(0,0,0,0.2);
    }
}

/*a.cc-hero {
    transition: box-shadow 0.3s; 
    &:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    }
}*/

.cc-hero {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    position: relative;

    .cc-hero-image {
        flex-grow: 1;
        background-size: cover;
        background-position: center center;
        align-items: stretch;
        position: relative;
        overflow: hidden;
    }

    .cc-hero-video {
        border: 1px solid red;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .cc-hero-video-overlay {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4zwABjDACQwCqAEkZsggAb94CBcYDBvUAAAAASUVORK5CYII=');
    }

    .cc-hero-body {
        position: relative;
        padding: 15px;

        *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .cc-hero-lead {
            text-transform: none;
            opacity: 0.8;
        }
    }
}

/*
 * Size
 */ 
.widget_cc-hero {
    min-height: 24rem;
}

.cc-hero-size-sm .widget_cc-hero {
    min-height: 12rem;
}

.cc-hero-size-default .widget_cc-hero{
    min-height: 24rem;
}

.cc-hero-size-lg .widget_cc-hero{
    min-height: 36rem;
}

/*
 * Font-size
 */

.cc-hero-body.font-size-xl {
    h2 {
        font-size: 2.6rem;  
    }
    
    h3 {
        font-size: 2rem;
    }
}

/*
 * Alignment
 */
.cc-hero-align-top {
    .cc-hero-body {
        order: 0;

        &:before {
            @include cc-hero-arrow('bottom');
        }
    }

    .cc-hero-image {
        order: 1;
    }
}

.cc-hero-align-bottom {
    .cc-hero-body {        

        &:before {
            @include cc-hero-arrow('top');
        }
    }
}

.cc-hero-align-center {
    .cc-hero-image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .cc-hero-body {

        }
    }
}

/*
 * Theme
 */
.cc-hero-theme-light {
    background: #f1f1f1;

    &.cc-hero-overlay:before {
        @include cc-hero-overlay('light');
    }

    .cc-hero-body {
        background: #fff;
        color: #212121;

        &:before {
            border-top-color: #fff;
            border-bottom-color: #fff;
        }
    }
}

.cc-hero-theme-dark {
    background: #212121;

    &.cc-hero-overlay:before {
        @include cc-hero-overlay('dark');
    }

    &.cc-hero-align-center {
        color: #fff;
        text-shadow: 0px 0px 5px #000000;
    }

    &:not(.cc-hero-align-center) {
        .cc-hero-body {
            background: #212121;
            color: #fff;

            &:before {
                border-top-color: #212121;
                border-bottom-color: #212121;
            }
        }
    }
}

.cc-hero-theme-light {
    background: #fff;

    &.cc-hero-overlay:before {
        @include cc-hero-overlay('light');
    }

    .cc-hero-image {
        border: 1px solid #ccc;
        
        .cc-hero-body {
            border: none;
        }
    }
    
    .cc-hero-body {
        background: #fff;
        color: #212121;
        border: 1px solid #ccc;
        

        &:before {
            border-top-color: #fff;
            border-bottom-color: #fff; 
        }
    }
}


/*
 * Flex panelek automatikus magasság igazítása a kezdőlapon
 */
.panel-grid {
    align-items: stretch !important;

    .panel-grid-cell {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .widget_cc-hero,
        .so-panel { 
            display: flex;
            flex-direction: column;
            align-items: stretch;
            flex-grow: 1;

            .panel-widget-style {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                flex-grow: 1;
            }
            .so-widget-cc-hero {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                flex-grow: 1;
            }
            div[class^="status-"], 
            div[class*=" status-"] {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                flex-grow: 1;
            }

        }
    }
}

