.bg-brand-primary-tilted-bottom {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-bottom: 4rem;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: rgba(0,0,0,0.6);
        transform: rotate(-5deg);
        top: -100px;
        left: -100px;
        bottom: 30px;
        right: -50px;
    }
}
