.btn {
    border-radius: 0 !important;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-brand {
    color: #fff;
    background-color: $primaryBrandColor;
    border-color: $primaryBrandColor;
    
    &:hover, 
    &:active {
        color: #fff;
        background-color: darken($primaryBrandColor, 10%);
        border-color: darken($primaryBrandColor, 10%);
    }
}
