.page-footer {
    padding-top: 4rem;
    background-color: #232733;
    
    .footer-items {
        margin-bottom: 4rem;
    }
}

.copyright {
    font-size: 70%;
    text-align: right;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 1rem 0;
}