.search-form {
    display: flex;

    label {
        margin: 0;
        padding: 0;

        span {
            display: none;
        }
    }

    .search-field {
        border: 0;
        padding: 0;
        margin: 0;
        background: rgba(255,255,255,0.25);
        font-size: 85%;
        padding: 0.625rem 1rem;
        color: #fff;
        line-height: 1;

        &::placeholder {
            color: rgba(255,255,255,0.5);
        }
    }

    .search-submit {
        background: none;
        border: none;
        color: #fff;
    }
    
    .search-form-clear {
        display: none;
    }
}
