.widget-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 1.5rem
}

aside {
    .widget:first-of-type {
        .widget-title {
            margin-top: 0;
        }
    }

    .widget {
        ul {
            margin-left: 0;
            padding-left: 0;

            li {
                list-style-type: none;
                padding: 0;
                margin: 0 0 0.5rem 0;
            }
        }
        
        .post-date {
            color: #6c757d;
                
            &:before {
                content: "(";
            }
            &:after {
                content: ")";
            }
        }
    }
}





