.wpcf7-form label {
    display: block;
}

.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input[type="text"], 
.wpcf7-form input[type="email"],
.wpcf7-form input[type="tel"] {
    width: 100%;
    height: 40px;
    border: 1px solid #dfe2e7;
    background: #fff;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
}

.wpcf7-form textarea {
    height: 120px;
}

.wpcf7-recaptcha>div {
    margin: auto;
}


.wpcf7-not-valid-tip {
    color: #C0392B;
    padding: 0 10px;
}

div.wpcf7-response-output {
    margin: 10px 0;
    padding: 0;
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
    display: block;
    padding: 15px;
    border: none;
    border-left: 5px solid;
}

div.wpcf7-validation-errors {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}

div.wpcf7-mail-sent-ok {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.wpcf7-acceptance,
.wpcf7-checkbox {
    border: none !important;
    box-shadow: none !important;
    padding-left: 0;
    background: none;

    label {
        font-weight: normal;
    }
}

span.wpcf7-list-item {
    margin-left: 0;
}

.wpcf7-submit {
   
}

// disable recaptcha badge
// @see https://stackoverflow.com/questions/44543157/how-to-hide-the-google-invisible-recaptcha-badge/44543220#44543220
.grecaptcha-badge { 
    visibility: hidden;
    opacity: 0;
}


