html,
body {
    min-height: 100vh;
}

body {
    overflow-x: hidden;
}

#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-area {
    margin-top: 3rem;
    flex-grow: 1;
}

.content img {
    max-width: 100%;
    height: auto;
}

div.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body.admin-bar {

    #page {
        // padding-top: 56px;
    }

    .navbar.fixed-top {
        position: absolute;
        top: 46px;
    }

    @include respond-to('wp-medium') {

        .navbar.fixed-top {
            position: fixed;
            top: 46px;
        }
    }

    @include respond-to('wp-large') {
        .navbar.fixed-top {
            position: fixed;
            top: 32px;
        }
    }
}

.container {
    @include respond-to('lg') {
        max-width: 1280px;
    }
}

.sticky-top {
    top: 6rem;
}




