@font-face {
    font-family: 'Fira Sans';
    src: url('#{$fontPath}/subset-FiraSans-Thin.woff2') format('woff2'),
        url('#{$fontPath}/subset-FiraSans-Thin.woff') format('woff'),
        url('#{$fontPath}/subset-FiraSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('#{$fontPath}/subset-FiraSans-ExtraLight.woff2') format('woff2'),
        url('#{$fontPath}/subset-FiraSans-ExtraLight.woff') format('woff'),
        url('#{$fontPath}/subset-FiraSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('#{$fontPath}/subset-FiraSans-Light.woff2') format('woff2'),
        url('#{$fontPath}/subset-FiraSans-Light.woff') format('woff'),
        url('#{$fontPath}/subset-FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('#{$fontPath}/subset-FiraSans-Regular.woff2') format('woff2'),
        url('#{$fontPath}/subset-FiraSans-Regular.woff') format('woff'),
        url('#{$fontPath}/subset-FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('#{$fontPath}/subset-FiraSans-Medium.woff2') format('woff2'),
        url('#{$fontPath}/subset-FiraSans-Medium.woff') format('woff'),
        url('#{$fontPath}/subset-FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Fira Sans';
    src: url('#{$fontPath}/subset-FiraSans-SemiBold.woff2') format('woff2'),
        url('#{$fontPath}/subset-FiraSans-SemiBold.woff') format('woff'),
        url('#{$fontPath}/subset-FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('#{$fontPath}/subset-FiraSans-Bold.woff2') format('woff2'),
        url('#{$fontPath}/subset-FiraSans-Bold.woff') format('woff'),
        url('#{$fontPath}/subset-FiraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('#{$fontPath}/subset-FiraSans-ExtraBold.woff2') format('woff2'),
        url('#{$fontPath}/subset-FiraSans-ExtraBold.woff') format('woff'),
        url('#{$fontPath}/subset-FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: "Fira Sans", sans-serif;

    b, strong {
        font-weight: 600;
        font-family: "Fira Sans", sans-serif;
    }
}

h1 { margin: 0rem 0 3rem 0; border-bottom: 5px solid $primaryBrandColor;}
h2 { margin: 3rem 0 2rem 0;}
h3 { margin: 1.5rem 0;}

.inverse {
    color: #98a2aa;
    
    a,
    a:hover, 
    a:active,
    a:visited {
        color: #fff;
    }
}