$screen-phone-max: 480px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-wp-medium: 601px;
$screen-wp-large: 784px;

@mixin respond-to($media) {
    // special style only for extermely small mobile screens
    // limited from above
    @if $media == phone {
        @media (max-width: $screen-phone-max) {
            @content;
        }
    }
    // special style only for small devices,
    // limited from above
    @else if $media == xs {
        @media (max-width: $screen-sm-min - 1) {
            @content;
        }
    }
    
    // bootstrap responsive sizes, mobile first method
    @if $media == sm {
        @media (min-width: $screen-sm-min) {
            @content;
        }
    }
    @if $media == sm-only {
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
            @content;
        }
    }
    @if $media == sm-and-below {
        @media (max-width: $screen-md-min - 1) {
            @content;
        }
    }
    @else if $media == md {
        @media (min-width: $screen-md-min) {
            @content;
        }
    }
    @else if $media == md-only {
        @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
            @content;
        }
    }
    @else if $media == md-and-below {
        @media (max-width: $screen-lg-min - 1) {
            @content;
        }
    }
    @else if $media == lg {
        @media (min-width: $screen-lg-min) {
            @content;
        }
    }
    @else if $media == lg-only {
        @media (min-width: $screen-lg-min) and (max-width: $screen-hd-min - 1) {
            @content;
        }
    }
    @else if $media == lg-and-below{
        @media (max-width: $screen-hd-min - 1) {
            @content;
        }
    }
    @else if $media == xl {
        @media (min-width: $screen-xl-min) {
            @content;
        }
    }
    @else if $media == wp-small {
        @media (max-width: $screen-wp-medium - 1) {
            @content;
        }
    }
    @else if $media == wp-medium {
        @media (min-width: $screen-wp-medium) and (max-width: $screen-wp-large - 1) {
            @content;
        }
    }
    @else if $media == wp-large {
        @media (min-width: $screen-wp-large) {
            @content;
        }
    }
    @else if $media == so-small {
        @media (max-width: 780px) {
            @content;
        }
    }
    @else if $media == so-large {
        @media (min-width: 781px) {
            @content;
        }
    }
    
    
}

// bootstrap button varian mixin
@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
        &.focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }
    &:active,
        &.active,
        .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);

        &:hover,
            &:focus,
            &.focus {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
        }
    }
    &:active,
        &.active,
        .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
            &:focus,
            &.focus {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin box-reset {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

@mixin font-size($sizelist) {
    font-size: nth($sizelist, 1);
    @include respond-to(md) {
        font-size: nth($sizelist, 2);
    }
}
